@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background: rgb(204, 204, 204);
} */

body {
    font-family: 'Tinos',serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #006400;
    position: relative;
    z-index: 1;
    margin:0;
    padding:0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin:0;
    padding:0;
}
main{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background: rgb(204, 204, 204);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "cover content";
    box-shadow:-2px 0px 33px 0px rgba(0,0,0,0.75);
}

.cover{
    grid-area: cover;
    height: 80vh;
    background-image: url('../images/flowers/crin1.jpg');
    background-size: cover;
    background-position: center center;
}
.content{
    grid-area: content;
    background:#efefef;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
.nav{
    margin: 10px 20px;
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: gray;
}
.content-body{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-bottom: 150px;
}
.pages{
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: gray;
    position: relative;
    transform: translateY(38px);
}
.pages span{
    margin-top: 15px;
}
.black-label{
    width: 80%;
}
.black-label p{
    font-size: 13px;
    color: gray;
    width: 70%;
}
.title{
    font-size: 64px;
}
.prix{
    margin: 50px 0px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid rgb(255,177,33);
    margin-left: 40px;
}
.prix span{
    padding-left: 10px;
}
.crt{
    color: gray;
    left: 2px;

}
.active{
    color: black;
    position: relative;
    transform: translateX(60px);
}
.active::before{
    position: absolute;
    content: "";
    display: block;
    width: 67px;
    right: 117%;
    top: 45%;
    background-color: #555;
    height: .2em;
    min-height: 1px;
    z-index: 1;
}


/* .product-header .btn-set{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0,-50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
} */

.list-btn
{

    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
    color:white;
    background-color: #006400;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}


.edit-background{
    background-color: rgba(0,0,0,0.5);
    background-image: url("header6.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 15px;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin:0;
    padding:0;
}

body {
    font-family: 'Tinos',serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #006400;
    position: relative;
    z-index: 1;
    margin:0;
    padding:0;
}


.nav ul{
    margin-top: 0;
    margin-left: 560px;
}


.nav li {
    display: inline;
}

.nav i {
    font-size: 1.35em;
}

.nav a {
    display: inline-block;
    padding:.7em;
    color:white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255,255,255,.3);
}

.main-nav {
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.main-nav li {
    padding: 0 1%;
}

.shop-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Tinos',serif;
    font-weight: normal;
    color: white;
}

.shop-name-large {
    font-size: 6em;
}

.main-footer {
    
    background-color: #006400;
    color:white;
    padding: 1em 1em;
   margin-top: 15px;
   
}

.main-footer-container {
    display: flex;
    align-items: center;
    
}

.footer-nav img {
    width:30px;
    height:30px ;
}

.contact{
    margin-left: 5em;
    margin-right: 1em;
    text-align: center;
}

.footer-container {
    max-width: 120rem;
    margin:0 auto;
}
